<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Boggle</title>
</head>
<body>  

    <div class="container">
        <table>
            {% for cell in board %}
            <tr>
                {% for letter in cell %}
                <td> 
                    {{ letter }}
                </td>
               {% endfor %} 
            </tr>
            {% endfor %}
        </table>
    </div>

    <form method="POST">
        <input name="word" placeholder="word"> 
        <button>Submit</button>
    </form>

    <button class="start">Start</button>

    <p class="timer"></p>

    <p class="message"></p>

    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
   <script src="/static/boggle.js"></script>
</body>
</html>